html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,details,embed,figure,figcaption,footer,header,menu,nav,output,ruby,section,summary,time,mark,audio,video,input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: middle;
}
html,body { height: 100%; overflow: hidden; }
li { list-style: none; }
blockquote,q { quotes: none; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; cursor: pointer; color: $color-link; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
article,aside,details,figcaption,figure,footer,header,menu,nav,section { display: block; }
body {
  line-height: 1;
  font-size: $font-size-small;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// 去除浏览器密码输入框的背景
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset !important; }

// 定义常用的类
@for $i from 1 through 20 {
  .mt#{$i} { margin-top: ($i * 1px); }
  .ml#{$i} { margin-left: ($i * 1px); }
  .mr#{$i} { margin-right: ($i * 1px); }
  .mb#{$i} { margin-bottom: ($i * 1px); }
  .pt#{$i} { padding-top: ($i * 1px); }
  .pl#{$i} { padding-left: ($i * 1px); }
  .pr#{$i} { padding-right: ($i * 1px); }
  .pb#{$i} { padding-bottom: ($i * 1px); }
}

.w-100 { width: 100%; }
.h-100 { height: 100%; }
.hide { display: none; }
.text-c { text-align: center; }
.text-r { text-align: right; }
.flexBetween { @include flexBetween(); }
.flexCenter { @include flexCenter(); }
.icon.iconfont, .pointer { cursor: pointer; }

// 超出显示省略号
.ell {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}